@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Aladin);

body {
	background-color: white;
	font-family: 'Aladin', cursive;
  	font-size: 24px;
 }
.button {
	font-size: 22px;
}