@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Salsa);

body {
	margin-top: 15px;
	background-image: url("background3.jpg");
	background-size: cover;
	background-position: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Salsa', cursive;
  	font-size: 24px;
  	color: white;
  	float: right;
 }
 .container {
 	margin-top: 25px;	
}
 .main {
 	color: white;
 	position: center;
 	margin-bottom: 50px;	
 }
.actions {
	font-family: 'Salsa', cursive;
	color: blue;
}
.field, .rating {
	color: black;
}
label {
	color: white;
}
p {
	margin-right: 400px;
}
input {
	color: blue;
}
#review_rating {
	color: black;
}