<div class="main">
  <h1>Fields of Dreams </h1>

  	<!-- <button class="btn btn-default" type="submit">
  	<%#=link_to "Create Field", new_field_path %></button> -->
  <nav>	
  
  	<% @fields.each do |s| %>
  		<li>
  		<%= s.name %>
  		<button class="btn btn-default btn-sm" type="submit">
  		<%= link_to "Visit Stadium", field_path(s) %></button>
  		</li>
  	<% end %>
  </nav>
</div>
  