<h1>Fields of Dreams </h1>
	<%=link_to "Create Field", new_field_path %>
	<ul>
	<% @fields.each do |s| %>
		<li>
		<%= s.name %>
		<%= link_to "Visit Stadium", field_path(s) %>
		</li>
	<% end %>
	</ul>

